{% extends 'base.html' %}

{% block title %} {{title}} {% endblock %}

{% block content %}
    <div class="col-md-6 offset-md-3">
        <form method="POST">
            {% csrf_token %}
            
            {{ form.as_p }}

            <div class="text-end">
                <input type="submit" value="Salvar Simulação" class="btn btn-success">
                <button onclick="location.href='{% url 'simulations' %}'" type="button" class="btn btn-secondary">Cancelar</button>
            </div>
            
        </form>
    </div>
    <br>

{% endblock %}
